@model Entities.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="row">
    <h3>Imagens</h3>
    <div class="col-md-4">


        @foreach (Entities.Models.Imagem im in Model.Imagens)
        {

            <div class="form-group">
                <img width="300"
                     src=@Url.Action("GetImage", "MeusProdutos", new { id=im.ImagemId})
                     alt=@im.ImageMimeType>
            </div>}

    </div>
</div>

@if (Model.Estado != Entities.Models.StatusProduto.Status.Vendido)
{
    @using (Html.BeginForm("LoadFiles", "MeusProdutos",
                          FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" asp-for="ProdutoId" />
        <dl>
            <dt>
                <label for="FileUpload_FormFile">Selecionar arquivos</label>
            </dt>
            <dd>
                <input id="files" type="file"
                       name="files" multiple />
            </dd>
        </dl>

        <input type="submit" value="Enviar arquivos" class="btn btn-primary" />

        <div style="margin-top:15px">
            <output name="result"></output>
        </div>}
}
