@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center img">
    <h1 class="display-4 align-content-center text-warning bg-transparent">ALIBRAZA</h1>
    <h6 class="align-self-lg-end fixed-bottom">Grupo: Eric C., Felipe D., Miguel Z. e Jonathan C.</h6>
</div>
