@{
    ViewData["Title"] = "Área Administrativa";
}

<div class="text-center">
    <h1 class="display-4">Relatórios</h1>


    <div>
        <a asp-action="TotVendPeriodo">Total de vendas em um determinado período</a>
    </div>
</div>
